.centerText {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15%;
  flex-direction: column;
}

* {
  background-color: black;
  color: yellow;
}

.beanieCalc {
  margin-top: 2rem;
}
